In [2]:
"""
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
"""
import pandas as pd

s = pd.Series([4, 8, 15, 16, 23, 42])

print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
"""
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
"""
l = list(range(1, 11))

s = pd.Series(l)

print(s)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
"""
Q3. Create a Pandas DataFrame that contains the following data:
Name   Age Gender
Alice  25  Female
Bob    30  Male
Claire 27  Female

Then, print the DataFrame.
"""

df = pd.DataFrame([['Alice', 25, 'Female'], ['Bob', 30, 'Male'], ['Claire', 27, 'Female']], 
                  columns = ['Name', 'Age', 'Gender']
                  )
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [13]:
"""
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
"""
# DataFrame is heterogeneous collection of two dimentional data while Series is homogeneous collection of one dimentional data

s  = pd.Series([1, 2, 3])
df = pd.DataFrame([['N1', '1234'], ['N2', 'ABCD'], ['N3', False]], columns = ['Name', 'RawData'])

print(s)
print('')
print(df)

0    1
1    2
2    3
dtype: int64

  Name RawData
0   N1    1234
1   N2    ABCD
2   N3   False

In [8]:
"""
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
"""
import math 

df = pd.DataFrame([['Alice', 25, 'Female', 1000], ['Bob', 30, 'Male', 500], ['Claire', 27, 'Female', 750]], 
                  columns = ['Name', 'Age', 'Gender', 'DailyWages']
                 )
                  
print('Original DataFrame')
print(df)
print()

# Simple Assignment 1
df.iloc[1, 3] = 600 # Change Bob's DailyWages to 600
print('DataFrame 1')
print(df)
print()

# Simple Assignment 2
df.loc[2, 'DailyWages'] = 1750 # Change Claire's DailyWages to 1750
print('DataFrame 2')
print(df)
print()

# apply() - to modify several columns in a dataframe at once
df2 = pd.DataFrame([[1, 10, 100], [2, 20, 200], [3, 30, 300]]
                   ,columns = ['A', 'B', 'C']
                   )


print('Original DataFrame 2')
print(df2)
print()

def squar(v):
    return v * v

df3 = df2.apply(squar)
print('DataFrame 3 - apply()')
print(df3)
print()

# applymap() - to modify the values in a dataframe element-wise
df4 = df3.applymap(lambda v : math.sqrt(v))
print('DataFrame 4 - applymap()')
print(df4)
print()

Original DataFrame
     Name  Age  Gender  DailyWages
0   Alice   25  Female        1000
1     Bob   30    Male         500
2  Claire   27  Female         750

DataFrame 1
     Name  Age  Gender  DailyWages
0   Alice   25  Female        1000
1     Bob   30    Male         600
2  Claire   27  Female         750

DataFrame 2
     Name  Age  Gender  DailyWages
0   Alice   25  Female        1000
1     Bob   30    Male         600
2  Claire   27  Female        1750

Original DataFrame 2
   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300

DataFrame 3 - apply()
   A    B      C
0  1  100  10000
1  4  400  40000
2  9  900  90000

DataFrame 4 - applymap()
     A     B      C
0  1.0  10.0  100.0
1  2.0  20.0  200.0
2  3.0  30.0  300.0

In [ ]:
"""
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
"""
# all pandas data structures (Series, DataFrame, Panel etc.) are multable
# size of Series can't be changed

In [11]:
"""
Q7. Create a DataFrame using multiple Series. Explain with an example.
"""
# index in each series is student id. While creating dataframe, series is joined using series index.
student_name    = pd.Series(['S1', 'S2', 'S3'], index = [100, 101, 102])
ongoing_lecture = pd.Series(['DataScience', 'Pandas', 'Statistics'], index = [100, 101, 102])

df = pd.DataFrame({'StudentName': student_name, 'OngoingLecture': ongoing_lecture})

print(df)

    StudentName OngoingLecture
100          S1    DataScience
101          S2         Pandas
102          S3     Statistics